# Sample command for executing with env overrides
# eval $(cat ~/workspace/dotfiles/env.defaults | grep -v "^#") dotdrop install -c config.yml -p personal-mac && source ~/.zshrc

config:
  backup: true
  banner: true
  create: true
  dotpath: dotfiles
  ignoreempty: false
  keepdot: false
  link_dotfile_default: nolink
  link_on_import: nolink
  longkey: false
  showdiff: true
  workdir: ~/.config/dotdrop
actions:
  pre:
    install_xcodecli: actions/install_xcodecli.sh
    install_homebrew: actions/install_homebrew.sh
    install_zinit: actions/install_zinit.sh
  post:
    install_homebrew_bundle: brew bundle install --file=~/.config/homebrew/Brewfile
    install_sdkman: actions/install_sdkman.sh
    install_asdf_plugins: actions/install_asdf_plugins.sh
    install_osx_defaults: ~/.config/osx/setup_osx_defaults.sh
dotfiles:
  f_brewbundle:
    dst: ~/.config/homebrew/Brewfile
    src: homebrew/Brewfile
    actions:
      - install_xcodecli
      - install_homebrew
      - install_homebrew_bundle
      - install_asdf_plugins
  f_sdkman:
    dst:
    src:
    actions:
    - install_sdkman
  f_gitconfig:
    dst: ~/.gitconfig
    src: git/.gitconfig
  f_gitignore_global:
    dst: ~/.gitignore_global
    src: git/.gitignore_global
  f_tmux.conf:
    dst: ~/.tmux.conf
    src: tmux/.tmux.conf
  f_zshrc:
    dst: ~/.zshrc
    src: shells/zsh/.zshrc
    actions:
      - install_zinit
  f_zshenv:
    dst: ~/.zshenv
    src: shells/zsh/.zshenv
  d_zsh:
    dst: ~/.zsh
    src: shells/zsh/.zsh
  f_starship:
    dst: ~/.config/starship.toml
    src: shells/prompts/starship.toml
  f_alacritty:
    dst: ~/.config/alacritty/alacritty.yml
    src: alacritty/alacritty.yml
  f_yabai:
    dst: ~/.config/yabai/yabairc
    src: yabai/yabairc
    chmod: 755
  f_osx_defaults:
    dst: ~/.config/osx/setup_osx_defaults.sh
    src: ../actions/setup_osx_defaults.sh
    chmod: 755
    actions:
      - install_osx_defaults
profiles:
  common-mac:
    dotfiles:
      - f_brewbundle
      - f_gitconfig
      - f_gitignore_global
      - f_tmux.conf
      - f_zshenv
      - f_zshrc
      - d_zsh
      - f_starship
      - f_sdkman
      - f_alacritty
      - f_osx_defaults
  personal-mac:
    variables:
      context: home
      git_email: koduruprasanth@gmail.com
      git_name: Prasanth Koduru
    include:
      - common-mac
    dotfiles:
      - f_yabai
  work-mac:
    variables:
      context: work
      git_email: prasantk@amazon.com
      git_name: Prasanth Koduru
    include:
      - common-mac

# eval $(cat ~/workspace/dotfiles/env.defaults | grep -v "^#") dotdrop install -c config.yml -p prasanthk-mac && source ~/.zshrc