# {{@@ header() @@}}

[user]
    email = {{@@ git_email @@}}
    name = {{@@ git_name @@}}
[color]
    ui = true
[alias]
    stahs = "stash"
    st = "status"
[core]
    excludesfile = {{@@ env['HOME'] @@}}/.gitignore_global
[pull]
    rebase = true
[init]
    defaultBranch = main
